*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* start section.linear-sec */
.linear-sec{
    height: 100vh;
    background-image: linear-gradient(to left, rgb(54, 3, 61),rgb(93, 81, 160));
    position: relative;
}
div.box{
    width: 25%;
    background-color: #fff;
    position: absolute;
    margin-top: 110px;
    margin-left: 37%;
}
div.box i{
    margin-left: 93%;
    font-size: 18px;
    margin-top: 10px;
}
div.box h1{
    margin-top: 5px;
}
div.box label{
    margin-left: 20px;
    font-weight: normal;
    color: #505050;
}
div.box input[type=text]{
    width: 90%;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 0;
    padding: 20px;
}
div.box h5{
    margin-left: 20px;
    color: rgba(0,0,250,0.6);
    margin-bottom: 25px;
}
div.box input[type=submit]{
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to left, rgb(54, 3, 61),rgb(93, 81, 160));
    color: #fff;
    margin-bottom: 28px;
    border-radius: 0;
    padding: 10px;
    font-size: 18px;
}
a{
    color: rgba(0,0,250,0.6);
}
a:hover{
    text-decoration: none;
    color: blue;
}
div.box h4{
    margin-bottom: 28px;
}
/* end section.linear-sec */
@media(max-width:767px){
    div.box{
        width: 70%;
        background-color: #fff;
        position: absolute;
        margin-top: 110px;
        margin-left: 15%;
    }  
}
